DeepLearningAI - NLP in TensorFlow/datasets

CampusX - NLP/datasets
CampusX - NLP/ruff

TutsNode - Applied AI Getting Started with Hugging Face Transformers/Video Tutorials

Udemy - Machine Learning Natural Language Processing in Python (V2)/Video Tutorials